ul {
    overflow: auto
}

a {
    font-size: .9em;

}

main {
    height: 31em;
}


.link-container-left {
    float: left;
    margin: .75em;
    margin-top: .95em;
}

.link-container-right {
    float: right;
    margin: .75em;
    margin-top: .95em;
}

#dropdown-button-container {
    margin: 0;
    margin-top: 5px;
    
}

#dropdown-button {
    background: none;
    border: solid 1px white;
    border-radius: 5em;
    padding: 6px;
    display: flex;
}


#dropdown-button:hover {
    background: rgb(216, 216, 216);
}

#profile-link-container {
    margin-top: .75em;
}

#logo-image-container {
    width: min-content;
    margin: auto;
    margin-top: 15%;
}

#search-bar-container {
    width: 65%;
    margin: auto;
    margin-top: 1.25em;
    border-radius: 2em;
    border: solid 1px;
    border-color: hsla(0, 0%, 0%, .25);
    height: 3em;
    display: flex;
    align-items: center;
    
}

#search-bar {
    width: 85%;
    border: none;
    font-size: 1.2em;
}

#search-bar:focus-visible {
    outline: none;
}

#search-image {
    margin-right: 1em;
    border: none;
    opacity: 50%;
}

#search-button {
    border: none;
    margin-left: 1em;
    background: none;
}

footer {
    background: rgb(211, 209, 209);
}